/* style variables go in :root */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.completed {
  text-decoration: line-through;
}

li p {
  cursor: pointer;
}